.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-left: auto; /*this and margin-right centers the cards */
  margin-right: auto;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 50%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.loc-main-div {
  border-color: green;
}
.loc-div {
  border: 1px red;
  float: left;
}
.loc-img-div {
  border: 1px red;
  float: left;
}

.half {
  width: 50%;
}
/*these three are for inventory page */
.wrapper {
  display: flex;
}
.marginleft {
  margin-left: 0rem;
}
.divider {
  width: 5px;
  padding-top: 5px;
  height: auto;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: azure;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group-item {
  width: 10rem;
  text-align: center;
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.whiteFont {
  color: white;
  text-align: center;
}

/*login css */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header {
  background-color: #fff;
  height: 55px;
}
.login-page {
  width: 370px;
  padding: 5% 0 0;
  margin: auto;
}
.login-page .form .login {
  margin-top: -41px;
  margin-bottom: 36px;
}

.form {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  color: #0b506d;
  max-width: 450px;
  margin: 0 auto 300px;
  padding: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 30px;
  padding: 2px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}

.container-comp {
  position: center;
  z-index: 1;
  max-width: 150px;
  margin: 0 auto;
  background-color: white;
}

.login-body {
  background-color: azure;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-color: azure;
}

.back {
  background-color: azure;
  color: black;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  border-style: ridge;
  border-radius: 12px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th .td {
  text-align: left;
  padding: 8px;
}

.blackFont {
  color: black;
}

.orangeFont {
  color: orange;
}
